body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calculator-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.calculator-button-wrapper {
  padding: 5px;
}

.calculator-card {
  padding: 30px 40px;
  margin: 50px;
  border: 1px solid lightgray;
}

.calculator-button {
  width: 70px;
}

.output-card {
  margin: 10px 5px;
  border: 1px solid lightgray;
}

.output {
  height: 20px;
  text-align: right;
  color: gray;
}

.input {
  text-align: right;
  width: 100%;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 24px;
}
